$dark: #1C3334;
$pink: #DA7B93;
$dark-pink: #874d5c;
$transparent-pink: rgba(218, 123, 147, 0.71);
$lightpink: #FFECF1;
$white: #FFFFFF;


.scroll-bar {
  width: 100%;
  overflow: auto;
  /* Hide the scrollbar by default */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-bar::-webkit-scrollbar {
  width: 12px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #da7b93;
  border-radius: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #ffecf1;
}


.layout {
  width: 95%;

  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(9, 1fr);

  justify-content: center;
  align-content: center;

}

.header {
  font-weight: bold;
  color: $white;
  background-color: $pink;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

}

.grow1 {
  background-color: $lightpink;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.7rem;
  border-bottom: thin solid $pink;

  text-align : center;
}

.btn-icon{
  margin : 0;
}

.add {
  background-color : #9bf4c3;
  border : #9bf4c3;

  &:hover {
    background-color : #cbf8df;
  }
}

.edit {
  background-color : #6fb9ef;
  border : #6fb9ef;

  &:hover{
    background-color : #a0cff1;
  }
}

.delete {
  background-color : #ea7783;
  border : #ea7783;

  &:hover{
    background-color : #efa9b1;
  }
}


.li{
  padding : 0.2rem;
}




