$dark : #1C3334;
$pink : #DA7B93;
$lightpink : #FFECF1;
$white : #FFFFFF;


.pink {
  background : $lightpink;
}

.left {
  width : 50%
}

img {
  width : 100%;
  padding : 2rem;
}

.right {
  width : 50%
}

:host ng::ng-deep input  {
  width : 90%;
}

.login-img {
  width : 50%;
  background-color: $white;
  border-left: 1px solid $pink;

  .container-img {
    background-color: $white;
    width: 100%;
  }
}
