$dark : #1C3334;
$pink : #DA7B93;
$lightpink : #FFECF1;
$white : #FFFFFF;


.pink {
  background : $lightpink;
}

.left {
  width : 50%
}

img {
  width : 100%;
  padding : 1.5rem;
}

.right {
  width : 50%
}

