<div class="container ">
  <div class="main w-8 pink mb-4 border-round-lg">
    <div class="flex w-full ">
      <div class="pink flex flex-column flex-1 p-3 border-round-lg">
        <h2 class="p-4 ml-2 ">Se connecter</h2>
        <img class="dot-line" src="assets/img/dot-line.png" alt="">

        <form class="p-2" [formGroup]="loginForm" (submit)="onLogin()">
          <div class="card ">
          <span class="w-8  p-float-label mb-4 ">
              <input class="w-full " pInputText id="login" formControlName="username"/>
              <label htmlFor="login">Login</label>
          </span>
          </div>

          <div class="card ">
             <span class="w-8 p-float-label mb-2">
<!--type="password"-->
                <input
                  class=" w-full p-inputtext p-component p-element p-inputtext-sm"
                  pInputText id="password" formControlName="password"/>
                <label htmlFor="password">Mot de passe</label>
            </span>
          </div>

          <small class="ml-2 p-error font-bold text-red-600" *ngIf=" errorMessage">
            {{errorMessage}}</small>

          <div class="card ">
            <button type="submit" class="btn-dark mt-4">Se connecter <img class="btn-icon" src="assets/img/icons/cocher.png"
                                                                     alt=""></button>
          </div>
        </form>

        <div class="flex justify-content-center">
          <h3>OU</h3>
        </div>
        <div class="flex align-items-center justify-content-center">
          <button class="btn-medium">S'inscrire <img class="btn-icon" src="assets/img/icons/ajouter-un-utilisateur.png"
                                                     alt=""></button>
        </div>

      </div>
      <div class="login-img  border-round-right-lg border-left-2  border-primary">
        <div class="container-img border-round-right-lg">
          <img src="assets/img/undraw_authentication_re_svpt.svg">
        </div>
      </div>
    </div>

  </div>
</div>
