<div class="container ">
  <div class="main w-8 pink mb-4 border-round-lg">
    <div class="flex">
      <div class="pink flex flex-column flex-1 p-3 border-round-lg">
        <h2 class="flex justify-content-center">Se connecter</h2>

        <form>

          <div class="card flex justify-content-center">
          <span class="p-float-label mb-4 ng-pristine ng-invalid ng-touched">
              <input class="p-inputtext p-component p-element p-inputtext-sm " pInputText id="login"
                     [(ngModel)]="login"/>
              <label htmlFor="login">Login</label>
          </span>
          </div>

          <div class="card flex justify-content-center">
            <span class="p-float-label mb-3">
                <input class=" p-inputtext p-component p-element p-inputtext-sm ng-pristine ng-invalid ng-touched"
                       pInputText id="pwd" [(ngModel)]="login"/>
                <label htmlFor="pwd">Password</label>
            </span>
          </div>

          <div class="card flex justify-content-center">
            <p-button label="Se connecter" icon="pi pi-check" iconPos="right"></p-button>
          </div>
        </form>
      </div>
      <div class=" flex justify-content-end flex-1 bg-white p-4 border-round-right-lg border-left-2  border-primary">
        <img src="assets/img/undraw_authentication_re_svpt.svg">
      </div>
    </div>

  </div>
</div>
