<header class="relative">
  <div class="bg header">
    <div >
      <nav class= " background flex h-full ">
        <div class="nav flex align-content-center justify-content-center">
          <ul class=" flex flex-row">
            <li class="mr-2 icon-hover" (click)="toggleSidebar()">
              <img title="Ouvrir le menu" class="select-none cursor-pointer" src="../../../../assets/img/icons/arrow-right.png"
                   alt="Ouvrir la barre de navigation">
            </li>
            <li *ngFor="let item of items">
              <ng-container *ngIf="item.visible ">
              <a class="mr-1 icon-hover select-none" [routerLink]="item.routerLink" >
                <img src="{{item.icon}}" alt="{{item.label}}" title="{{item.label}} " >
              </a>
              </ng-container>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="header-center select-none">
      <img src="assets/img/logo-blanc.png" alt="Logo">
      <p class="text-large ml-1 text-white-alpha-90">CheckMate</p>
    </div>
    <ul class="flex" *ngIf="isLogged">
      <li class="icon-hover" ><a routerLink="/profil"><img src="../../../../assets/img/icons/user.png" alt="Profil" title="Profil"></a></li>
      <li class="icon-hover"><img (click)="onLogout()" src="../../../../assets/img/icons/power-off.png" alt="Se déconnecter" title="Se déconnecter"></li>

    </ul>
    <div class="icon-hover" *ngIf="!isLogged">
      <li class="icon-hover"><a routerLink="/login"><img src="../../../../assets/img/icons/enter.png" alt="Se connecter" title="Se connecter"></a></li>

    </div>
  </div>
</header>

<p-sidebar [(visible)]="sidebarVisible" position="left">
  <div class="flex align-items-center justify-content-center ">
    <p-megaMenu class="m-auto p-element p-megamenu-root-list p-megamenu-vertical p.megamenu p-menu p-menuitem "
                orientation="vertical">
      <ng-container *ngFor="let item of items">
        <ul class="flex flex-column justify-content-center">
         <a routerLink="{{item.routerLink}}"  *ngIf="item.visible ">
           <li class="li flex ">
             <div class=" flex align-items-center justify-content-between ">
               <span class="text-white-alpha-90">{{ item.label }}</span>
               <img src="{{ item.icon }}" alt="{{ item.label }}">
             </div>
           </li>
         </a>
        </ul>
      </ng-container>
    </p-megaMenu>
  </div>
</p-sidebar>
