<div class="container">
  <div class="main w-10 bg-white mb-4 p-3 border-round-lg">
    <div class="grid nested-grid p-5">
      <div class="col-12">
        <div class="text-color-secondary text-center p-2 border-round-sm bg-primary ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia tincidunt nisl, eget faucibus nisi
          vehicula quis. Suspendisse felis nibh, congue sit amet tincidunt sed, convallis eget risus. Sed tincidunt,
          elit sit amet sollicitudin placerat, metus massa molestie dolor, nec ultricies nunc libero in purus. Phasellus
          gravida, massa non ultrices molestie, libero nunc dignissim nulla, et feugiat leo tortor id ipsum. Vestibulum
          rhoncus ac metus a tincidunt. Ut ex turpis, mollis nec suscipit a, lacinia non sem. Phasellus vel ipsum non mi
          dapibus suscipit. Sed euismod odio non lorem malesuada dictum ultrices vitae ligula.
        </div>
      </div>
      <div class="col-8 ">
        <div class="grid">
          <div class="col-12 ">
            <div class="text-color-secondary text-center p-2 border-round-sm bg-primary ">Duis at mauris ut velit
              facilisis dignissim ac sed diam. Nulla ante enim, pretium in porttitor vitae, sollicitudin sed massa.
              Donec rhoncus neque quis rhoncus iaculis. Praesent non convallis neque, vel facilisis mauris. Donec sed
              massa
              quis arcu egestas congue ultrices vel augue. Donec ornare mattis tellus eget lacinia. Mauris eleifend
              aliquam
              quam a consectetur. Duis feugiat ipsum rhoncus ipsum elementum molestie. Etiam sit amet dictum lacus,
              vitae
              pharetra ligula. Fusce dictum cursus erat, volutpat ullamcorper purus blandit a.
            </div>
          </div>

          <div class="col-12 pb-0">
            <div class="text-color-secondary text-center p-2 border-round-sm bg-primary ">
              Vivamus sed dui quis magna hendrerit ultrices in varius ante. Maecenas scelerisque placerat purus, suscipit tempus ligula
              pulvinar vitae. Ut scelerisque ultricies nisl, non hendrerit lectus bibendum vitae. Phasellus malesuada
              dapibus risus et tincidunt. Duis ut ornare neque. Suspendisse pharetra arcu ac turpis dignissim ultrices.
              Vivamus et ex nec ligula consequat tristique quis a leo. Etiam pellentesque porta sem. Vestibulum ornare,
              mauris sed auctor malesuada, magna libero maximus eros, bibendum maximus risus eros id nulla.
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="text-color-secondary text-center p-2 border-round-sm h-full bg-primary ">
          Aliquam iaculis ante odio, ac gravida elit sollicitudin nec. Sed tristique, est vitae mattis blandit, ante nunc hendrerit dolor, eget mollis magna magna mattis lectus. Mauris et sem justo. Nunc sagittis pretium consectetur. Praesent molestie, ante interdum vestibulum vehicula, nunc nisl mattis sem, id ultricies lorem ipsum eget libero. Sed eu finibus sapien. Cras vehicula orci non diam venenatis scelerisque. Nullam varius, ex at pharetra sodales, neque enim congue mauris, vitae pretium leo erat volutpat augue. Donec gravida sem eu leo porttitor aliquet. Quisque ullamcorper nulla feugiat arcu semper, ut fringilla lacus euismod. Aliquam erat volutpat.
        </div>
      </div>
      <div class="col-7 m-auto">
        <div class="text-color-secondary text-center p-2 border-round-sm bg-primary ">Lorem Ipsum is simply dummy text
          of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </div>
    </div>
  </div>
</div>



