<div class="container">
  <div class="main w-11 bg-white mb-2 p-3 border-round-lg">
    <div class="option">
      <button class="btn-light" routerLink="/gestion-tournoi/list-tournoi">Liste des tournois</button>
      <button class="btn-light" routerLink="/gestion-tournoi/add-tournoi">Ajouter un tournoi</button>
      <button class="btn-light" routerLink="/gestion-tournoi/list-tournoi">Liste des tournois</button>
      <button class="btn-light" routerLink="/gestion-tournoi/list-tournoi">Liste des tournois</button>

    </div>
    <p>landing-page works!</p>



  </div>
</div>



