$dark: #1C3334;
$pink: #DA7B93;
$lightpink: #FFECF1;
$white: #FFFFFF;
$darkpink: #a94a62;


.bg-pink {
  background : $lightpink !important;
}

.input-box {
  width: 90% !important;
  margin: 1.7rem 1rem 0.2rem;
}

.input-width {
  width: 100%;
}

.error {
  margin: 0 0 0.5rem;
}

input{
  background : $lightpink !important;
}


:host ::ng-deep p-calendar .p-component{
  background : $lightpink !important;
}
:host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header{
  background : $darkpink !important;
}

:host ::ng-deep  .p-calendar-w-btn .p-datepicker-trigger{
  background : $pink !important;;
}

:host ::ng-deep :host ::ng-deep p-dropdown {
  width : 80% !important;

}
:host ::ng-deep .p-dropdown {
  background : $lightpink !important
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger{
  background : $pink !important
}

