$dark: #1C3334;
$pink: #DA7B93;
$lightpink: #FFECF1;
$white: #FFFFFF;
$darkpink: #a94a62;

ul{
  margin : 0;
  padding : 0;
}
li {
  padding : 0.2rem
}

:host ::ng-deep .p-fieldset{
  background :  #FFECF1;
}

hr {
  border: none;
  border-bottom: 1px solid $pink;
  margin: 1rem auto 2rem;
}

:host ::ng-deep p-multiSelect {
  width: 100% !important;

}
:host ::ng-deep .p-element .p-multiselect  {
  width: 100% !important;
}

.bg-pink {
  background : $lightpink !important;
}

.add-input {
  width: 85% !important;
  margin-top : 2rem;
}

.add-number {
  width: 85% !important;
  margin-top : 3rem;
}

.add-text {
  width: 100%;
}

.number {
  width: 100%;
}

:host ::ng-deep p-multiselect .p-component{
  background : $lightpink !important;
}

:host ::ng-deep p-calendar .p-component{
  background : $lightpink !important;
}

:host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header{
  background : $darkpink !important;
}

:host ::ng-deep  .p-calendar-w-btn .p-datepicker-trigger{
  background : $pink !important;;
}

:host ::ng-deep .p-multiselect-trigger{
  background : $pink !important;
}

input{
  background : $lightpink !important;
}
