$dark: #1C3334;
$pink: #DA7B93;
$lightpink: #FFECF1;
$white: #FFFFFF;
$darkpink: #a94a62;


input{
  background : $lightpink !important;
}

.input-box {
  width: 90% !important;
  margin: 1.7rem 1rem 0.2rem;
}

.input-width {
  width: 100%;
}
