<div class="container">
  <div class="main w-5 mb-2 p-3 border-round-lg">
    <button class="btn-light flex justify-content-start" routerLink="/profil">Revenir au profil</button>
  </div>

  <div class="main w-5 bg-white mb-2 p-3 border-round-lg">
    <div class="flex w-12 flex-column justify-content-center align-items-center">
      <div class="flex flex-column justify-content-center align-items-center w-8  ">
        <form (submit)="onSubmit()" [formGroup]='modifyPasswordForm'>
          <h2 class="flex justify-content-center">Changer le mot de passe </h2>
          <span class="p-float-label input-box">
        <input class="input-width" formControlName="oldPassword" id="oldpwd" pInputText/>
        <label htmlFor="oldpwd">Ancien mot de passe</label>
    </span>
          <span
            *ngIf="
            modifyPasswordForm.get('oldPassword')?.touched &&
            modifyPasswordForm.get('oldPassword')?.errors?.['required']"
            class="error">
          Ce champs est requis
        </span>

          <span class="p-float-label input-box">
        <input class="input-width" formControlName="oldPassword" id="username" pInputText/>
        <label htmlFor="username">Nouveau mot de passe  </label>
    </span>
          <span
            *ngIf="
            modifyPasswordForm.get('password')?.touched &&
            modifyPasswordForm.get('password')?.errors?.['required']"
            class="error">
          Ce champs est requis
        </span>

          <div class="m-2 mt-4">
            <button class="btn-dark " routerLink="/gestion-tournoi/members/change-username" type="submit">Modifier le
              nom d'utilisateur
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>



