<div class="container">
  <div class="main w-10 bg-white mb-2 p-3 border-round-lg">
    <div *ngIf=" $tournoi | async as tournoi">
      <p-fieldset class="w-6 " legend="Tournoi">
        <ul>
          <li>ID : {{tournoi.id}}</li>
          <li>Nom : {{tournoi.name}}</li>
          <li>Emplacement : {{tournoi.location}}</li>
          <li>Nombre minimum de joueurs : {{tournoi.minPlayers}}</li>
          <li>Nombre maximum de joueurs : {{tournoi.maxPlayers}}</li>
          <li>Elo minimum : {{tournoi.eloMin}}</li>
          <li>Elo maximum : {{tournoi.eloMax}}</li>
          <li>Catégories : {{tournoi.categories}}</li>
          <li>Réservé aux femmes : {{tournoi.womenOnly ? '✔️' : '✖️'}}</li>
          <li>Date limite d'inscription : {{tournoi.endOfRegistrationDate | date : 'short'}}</li>
          <li>Nombre total d'inscriptions : {{tournoi.count}}</li>
          <li>Possible de s'inscrire : {{tournoi.canRegister ? '✔️' : '✖️'}}</li>
          <li>Est inscrit : {{tournoi.isRegistered ? '✔️' : '✖️'}}</li>
          <li>Statut : {{tournoi.status}}</li>
          <li>Tour actuel : {{tournoi.currentRound}}</li>
        </ul>

      </p-fieldset>
      <div class="flex mt-3">
        <p-fieldset class="m-1 " legend="Liste des joueurs" [toggleable]="true">
          <ul *ngFor="let players of tournoi.players">
            <li>ID : {{players.id}}</li>
            <li>Nom d'utilisateur : {{players.username}}</li>
            <li>Email : {{players.email}}</li>
            <li>Date de naissance : {{players.birthDate}}</li>
            <li>Elo : {{players.elo}}</li>
            <li>Genre : {{players.gender}}</li>
            <li>Rôle : {{players.role}}</li>

            <p-divider></p-divider>
          </ul>
          <li>Possible de démarrer : {{tournoi.canStart ? '✔️' : '✖️'}}</li>
          <li>Possible de valider le tour : {{tournoi.canValidateRound ? '✔️' : '✖️'}}</li>
        </p-fieldset>
        <p-fieldset class="m-1 "  legend="Liste des matchs" [toggleable]="true">
          <ul *ngFor="let matches of tournoi.matches">
            <li>ID : {{matches.id}}</li>
            <li>ID du tournoi : {{matches.tournamentId}}</li>
            <li>Nom du joueur noir : {{matches.blackName}}</li>
            <li>ID du joueur noir : {{matches.blackId}}</li>
            <li>Nom du joueur blanc : {{matches.whiteName}}</li>
            <li>ID du joueur blanc : {{matches.whiteId}}</li>
            <li>Résultat : {{matches.result}}</li>
            <li>Tour : {{matches.round}}</li>
            <p-divider></p-divider>
          </ul>
        </p-fieldset></div>
    </div>
  </div>
</div>
