@import "primeicons/primeicons.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeng/resources/primeng.css";
@import "styles/theme-light.css";

$dark: #1C3334;
$pink: #DA7B93;
$darkpink: #a94a62;
$lightpink: #FFECF1;
$white: #FFFFFF;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(28, 51, 52);
  background: linear-gradient(0deg, rgba(28, 51, 52, 1) 0%, rgba(218, 123, 147, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  list-style: none;
  color: $dark;
}

.icon-hover {
  &:hover {
    transform: translateY(-5px);
    border-radius: 1rem;
    background: rgba(218, 123, 147, 0.5);
    box-shadow: 0px 5px 15px 3px rgba(218, 123, 147, 0.5);
  }
}

.container {
}

.main {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 1.5rem auto 2rem;
}

.option {
  margin: 1rem auto;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;

}

a {
  text-decoration: none;
  margin-bottom: 0;
}

.ml {
  &-05 {
    margin-left: 0.5rem
  }

  &-1 {
    margin-left: 1rem
  }

  &-2 {
    margin-left: 2rem
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem
  }

}

.text {
  &-large {
    font-size: 1.5rem;
  }

  &-medium {
    font-size: 1.2rem;
  }

}

ul {
  padding: 0;
}

flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dot-line {
  width: 90%;
  margin: 0 auto 1.5rem;
  padding: 0 1rem !important;
}

.btn {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem 0.7rem 0;
  border: none;
  font-size: large;
  font-weight : bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

  &:active {
    box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.5);
  }

  .btn-icon {
    width: 1.5rem;
    padding: 0;
    margin-left: 1rem;
  }

  &-dark {
    @extend .btn;
    color: $lightpink;
    background: $dark;

    &:hover {
      background: $pink;
    }
  }

  &-medium {
    @extend .btn;
    color: $dark;
    background: $pink;
    border: thin solid $pink;

    &:hover {
      background: $lightpink;
      border: thin solid $dark;
    }
  }

  &-light {
    @extend .btn;
    color: $dark;
    background: $lightpink;

    &:hover {
      background: $pink;
    }
  }
}

.required {
  color: #720000;
  font-weight: bold;
}

.error {
  font-style: italic;
  color : $darkpink;
  margin:  0.5rem;
}

