@import "primeicons/primeicons.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeng/resources/primeng.css";
@import "styles/theme-light.css";

$dark: #1C3334;
$pink: #DA7B93;
$lightpink: #FFECF1;
$white: #FFFFFF;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(28, 51, 52);
  background: linear-gradient(0deg, rgba(28, 51, 52, 1) 0%, rgba(218, 123, 147, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  list-style: none;
  color: $dark;
}

.container {
  margin-left: 70px;
}

.main {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 1.5rem auto auto;
}

a {
  text-decoration: none;
  margin-bottom: 0;
}

.ml {
  &-05 {
    margin-left: 0.5rem
  }

  &-1 {
    margin-left: 1rem
  }

  &-2 {
    margin-left: 2rem
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem
  }

}

.text {
  &-large {
    font-size: 1.5rem;
  }

}

flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dot-line {
  width: 90%;
  margin: 0 auto 1rem;
  padding: 0 1rem !important;
}
